.movies {
  padding-bottom: 70px;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: var(--white);
  margin-top: 130px;
  &FoundResult {
    padding-left: 40px;
    padding-bottom: 20px;
    font-weight: 400;
  }

  &List {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
  }
}
