.filmInformation {
  width: 80%;
  display: flex;
  gap: 100px;
  margin: 150px auto;

  button {
    width: 200px;
  }

  .filmPoster {
    width: 350px;
    height: 531px;
  }

  .filmDetails {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: var(--white);
    h1 {
      color: var(--apricot);
    }
    p {
      font-size: 28px;
    }
  }
}
@media (max-width: 800px) {
  .filmInformation {
    flex-direction: column;
    .filmPoster {
      margin: 0 auto;
      border-radius: 25px;
    }
    .filmDetails{
      margin-top: -50px;
    }
  }
}
