.filmInformation {
  display: flex;
  gap: 200px;
  margin-top:200px ;

  img {
    width: 350px;
    height: 531px;
  }

  .filmDetails {
    display: flex;
    flex-direction: column;
    gap: 50px;
    color: var(--apricot);

    p {
      font-size: 28px;
    }
  }
}
