.filmInformation {
  width: 80%;
  display: flex;
  gap: 100px;
  margin: 200px auto;

  img {
    width: 350px;
    height: 531px;
  }

  .filmDetails {
    display: flex;
    flex-direction: column;
    gap: 50px;
    color: var(--apricot);

    p {
      font-size: 28px;
    }
  }
}
