.footer {
  background-color: var(--dark-grey);
  width: 90%;
  margin-bottom: 20px;

  &Title {
    font-size: 20px;
    line-height: 24px;
    padding: 26px;
    text-align: center;
    color: var(--apricot);
  }
}
